body {
  background: black;
  color: #c4c4c4;
}

a {
  color: #c4c4c4;
}

h1, h2 {
  margin: 0;
}

h1 {
  padding-bottom: 10px;
  float: left;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: underline;
}

#container {
  width: 90%;
  height: 100%;

  margin: 10px;
}

#header {
  height: 60px;
  clear: both;
}

#status {
  float: right;
  margin-top: 10px;
}

#repositories, #repository {
  float: left;
}

#repositories {
  width: 20%;
}

#repository {
  width: 80%;

  #log {
    width: 640px;
  }
}

#new_repository {
  width: 425px;
  margin: auto auto;

  padding: 10px;

  background: black;
  border: solid white 1px;
}
