<div id="repository" ng-controller="RepositoryShowCtrl">
  <div ng-hide="repository">
    <a href="https://news.ycombinator.com/item?id=4992717" target="new">the impetus</a>
  </div>

  <div ng-show="repository" ng-cloak>
    <h2>{{repository.account}}/{{repository.name}}</h2>
    <a href="{{repository.web_url}}" target="new">github</a>

    <div ng-show="repository.youtube_id" hg-hide="repository.processing" ng-cloak>
      <iframe type="text/html" width="640" height="360" src="http://www.youtube.com/embed/{{repository.youtube_id}}?rel=0&vq=hd720&wmode=transparent" frameborder="0"></iframe>
    </div>

    <div id="log" ng-hide="repository.processing">
      <accordion>
        <accordion-group>
          <accordion-heading>
            log
          </accordion-heading>

          start: {{repository.process_log.started_at}}
          <br>
          end time: {{repository.process_log.created_at}}
          <br>
          duration: {{repository.process_log.duration}} seconds

        </accordion-group>
      </accordian>
    </div>
  </div>
</div>
