<div id="repositories" ng-controller="RepositoryIndexCtrl">
  <script type="text/ng-template" id="new_repository_form.html">
    <%= render(partial: 'layouts/create_repository') %>
  </script>

  <a href="#" ng-click="showAddRepositoryForm()">add repository</a> | <a ng-click="setRandomRepository()" ng-href="#!/repository/{{ randomRepository.id }}">random</a>
  <p>
    <input type="test" placeholder="search" ng-model="searchRaw" ng-change="setSearchString()" />
  </p>
  <h5>15 most recent</h5>
  <span>
    <input type="checkbox" id="show_processing" ng-model="showProcessing" />
    <label for="show_processing">show processing</label>
  </span>
  <ul>
    <li ng-repeat="repository in repositories | truthy:showProcessing | filter:{ '$': searchString } | limitTo: 15" ng-cloak>
      <a href="#!/repository/{{repository.id}}">{{repository.account}}/{{repository.name}}</a>
      <img src="images/processing.gif" alt="processing" ng-show="repository.processing" />
    </li>
  </ul>
</div>
