<!DOCTYPE html>
<html>
<head>
  <title>GourceTV</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <div id="container" ng-app="gource_tv">
    <div id="header">
      <h1>GourceTV</h1>
      <div id="status" ng-controller="SystemStatusCtrl" ng-show="status">
        | load: {{status.load_avgs.join(' ')}}
        | mem: {{status.mem.join(' / ')}}
        | swap: {{status.swap.join(' / ')}}
        |
      </div>
    </div>

    <div id="repositories" ng-controller="RepositoryIndexCtrl">
      <a href="#" ng-click="showAddRepositoryForm()">add repository</a>
      <p>
        <input type="test" placeholder="search" ng-model="searchRaw" ng-change="setSearchString()" />
      </p>
      <ul>
        <li ng-repeat="repository in repositories | filter:{ '$': searchString } | limitTo: 50" ng-cloak>
          <a href="#" ng-click="showRepository(repository.id)">{{repository.account}}/{{repository.name}}</a>
        </li>
      </ul>
    </div>

    <div id="repository" ng-controller="RepositoryShowCtrl">
      <div ng-hide="repository">
        <a href="https://news.ycombinator.com/item?id=4992717" target="new">the impetus</a>
      </div>

      <div ng-show="repository">
        <h2>{{repository.account}}/{{repository.name}}</h2>
        <a href="{{repository.web_url}}" target="new">github</a>

        <div ng-show="repository.youtube_id" ng-cloak>
          <iframe class="" id="" type="text/html" width="640" height="360" src="http://www.youtube.com/embed/{{repository.youtube_id}}?rel=0&vq=hd720&wmode=transparent" frameborder="0"></iframe>
        </div>

        <div id="log">
          <accordion>
            <accordion-group>
              <accordion-heading>
                Log
              </accordion-heading>

              Start Time: {{repository.process_log.started_at}}
              <br>
              End Time: {{repository.process_log.created_at}}
              <br>
              Terminal Output: <pre>{{repository.process_log.body}}</pre>
            </accordion-group>
          </accordian>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
